# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vs/
bin/
obj/

# Ignmore the Output folder
Output/

# Ignore additional folders that may also contain transient data
*.user
*.suo
*.userosscache
*.userprefs

# Ignore package manager folders (for example, NuGet)
packages/

# Ignore the InnoSetup\Output folder but keep the InnoSetup folder
InnoSetup/Output/